---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="Мой аккаунт | 6:52">
  <section>
    <div class="px-8 py-12 mx-auto max-w-7xl md:px-12">
      <form action="/api/user/logout" method="POST">
        <button type="submit">Выйти</button>
      </form>
    </div>
  </section>
</BaseLayout>
