---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="Авторизация | 6:52">
  <section>
    <div class="px-8 py-12 mx-auto max-w-7xl md:px-12">
      <h1>Вход или регистрация</h1>
      <form>
        <input type="tel" placeholder="Номер телефона" />
        <button type="submit">Далее</button>
      </form>
    </div>
  </section>
</BaseLayout>
