---
import Button from '../../components/ui/Button.astro'

const { productID, inStockCount } = Astro.props
---

<div x-data={`{ productID: '${productID}', inStockCount: ${inStockCount} }`}>
  <template x-if="! $store.cart.isProductInCart($data)">
    <Button onClick="$store.cart.addOne($data)">
      <span>В корзину</span>
    </Button>
  </template>

  <template x-if="$store.cart.isProductInCart($data)">
    <div class="flex items-center border rounded">
      <template x-if="$store.cart.currentProduct($data).quantity === 1">
        <Button variant="link" extraClasses="flex-1" onClick="$store.cart.removeOne($data)">
          <span>Удалить</span>
        </Button>
      </template>
  
      <template x-if="$store.cart.currentProduct($data).quantity > 1">
        <Button variant="link" extraClasses="flex-1" onClick="$store.cart.removeOne($data)">
          <span>Убрать</span>
        </Button>
      </template>
      
      <p class="text-sm mx-4" x-text="$store.cart.currentProduct($data).quantity" />
  
      <template x-if="$store.cart.isSoldOut($data)">
        <Button variant="link" extraClasses="flex-1 text-gray" disabled>
          <span>Больше нет</span>
        </Button>
      </template>

      <template x-if="! $store.cart.isSoldOut($data)">
        <Button variant="link" extraClasses="flex-1" onClick="$store.cart.addOne($data)">
          <span>Добавить</span>
        </Button>
      </template>
    </div>
  </template>
</div>
