---
import BaseLayout from "../../layouts/BaseLayout.astro";

const res = await fetch("http://localhost:4000/api/products");
const products = await res.json();
---

<BaseLayout title="Каталог | 6:52">
  <section>
    <div class="px-8 py-12 mx-auto max-w-7xl md:px-12">
      {
        products.docs.map((product) => (
          <article>
            <h1 class="text-2xl font-bold">
              <a href={`/catalog/${product.id}`} set:html={product.title} />
            </h1>
            <p set:html={product.description} />
          </article>
        ))
      }
    </div>
  </section>
</BaseLayout>
