---
import BaseLayout from "../../layouts/BaseLayout.astro";
import ProductTeaser from "../../components/ProductTeaser.svelte";
import { GET } from "../api/products.ts";

const res = await GET();
const products = await res.json();
---

<BaseLayout title="Каталог | 6:52">
  <section>
    <div class="px-8 py-12 mx-auto max-w-7xl md:px-12">
      <ul class="grid md:grid-cols-2 lg:grid-cols-4 mt-12 gap-4">
        {
          products.map((product) => (
            <li>
              <ProductTeaser {product} client:visible />
            </li>
          ))
        }
      </ul>
    </div>
  </section>
</BaseLayout>
