@import "@fontsource/inter";
@import "@fontsource/inter/500.css";
@import "@fontsource/inter/600.css";
@import "@fontsource/inter/700.css";
@import "@evilmartians/harmony/css/gray.css";
@import "@evilmartians/harmony/css/neutral.css";
@import "@evilmartians/harmony/css/red.css";
@import "@evilmartians/harmony/css/emerald.css";
@import "tailwindcss";

@theme {
  --color-gray-900: var(--gray-900);
  --color-neutral-200: var(--neutral-200);
  --color-red-600: var(--red-600);
  --color-emerald-700: var(--emerald-700);
  --accent-color: var(--color-gray-900);
  --font-family-sans: 'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
}

@layer base {
  :root {
    accent-color: var(--accent-color);
    scroll-behavior: smooth;
  }

  p a[href]:not(.no-underline) {
    text-decoration: underline;
    text-underline-offset: 0.2em;
  }

  a[href]:not(.action-button, .leaflet-control a) {
    border-radius: var(--radius-sm);
  }

  :is(a, button):active:not(:disabled) {
    transform: scale(0.95);
  }

  :is(.action-button, .silent-button):is(:hover, :focus-visible):not(:disabled)::before {
    position: absolute;
    inset: -5px;
    z-index: -1;
    content: "";
    background-color: var(--color-neutral-200);
    border-radius: 9999px;
  }

  :is(a[href]):hover:not(:disabled, .logo, .action-button, .teaser-link, .tab-link) {
    background-color: var(--color-neutral-200);
  }

  :is(a[href].active):not(:disabled) {
    background-color: var(--color-gray-900);
    color: var(--color-white)
  }

  :is(a, button) svg {
    width: 100%;
  }

  input:not([type="radio"], [type="checkbox"], [type="reset"], [type="submit"]) {
    display: block;
    width: 100%;
    background-color: var(--color-white);
    padding-inline: var(--spacing-4);
    padding-block: var(--spacing-2);
    border: 1px solid var(--color-gray-900);
    border-radius: 9999px;
  }

  textarea, .tiptap {
    display: block;
    width: 100%;
    background-color: var(--color-white);
    padding-inline: var(--spacing-4);
    padding-block: var(--spacing-2);
    border: 1px solid var(--color-gray-900);
    border-radius: var(--radius-sm);
  }

  input:not([type="radio"], [type="checkbox"], [type="reset"], [type="submit"]):focus,
  select:focus, textarea:focus, .tiptap:focus {
    outline: 3px solid var(--color-gray-900);
  }

  label:has(+ div > input:required, + input:required)::after {
    content: "*";
    margin-left: 1ch;
    color: var(--color-red-600);
  }

  :is([type="text"], [type="tel"], [type="email"], [type="password"]):required:user-valid {
    outline: 3px solid var(--color-emerald-700);
    border-color: var(--color-emerald-700);
  }

  :is([type="text"], [type="tel"], [type="email"], [type="password"]):required:user-invalid {
    outline: 3px solid var(--color-red-600);
    border-color: var(--color-red-600);
  }

  select {
    appearance: none;
    grid-row-start: 1; 
    grid-column-start: 1;
    display: block;
    width: 100%;
    background-color: var(--color-white);
    padding-inline: var(--spacing-4);
    padding-block: var(--spacing-2);
    border: 1px solid var(--color-gray-900);
    border-radius: 9999px;
  }

  select:disabled + svg,
  :is(button, input):disabled {
    opacity: 0.6;
  }

  :is(input[type="checkbox"], input[type="radio"]) {
    width: 1.1em;
    height: 1em;
  }

  :is(input[type="checkbox"], input[type="radio"]):disabled + * {
    opacity: 0.6;
  }

  details > summary {
    list-style: none;
  }

  details > summary::-webkit-details-marker {
    display: none;
  }
}

@layer utilities {
  .sr-only {
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    position: absolute;
    overflow: hidden;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; 
    scrollbar-width: none;
  }
}
