---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Home">
  <section>
    <div class="px-8 py-12 mx-auto max-w-7xl md:px-12">
      <h1 class="text-2xl font-serif">Home</h1>
    </div>
  </section>
</BaseLayout>
