---
const { onClick, variant = 'primary', extraClasses = '', disabled = false, title } = Astro.props

const classes = {
  primary: 'inline-flex justify-center items-center px-9 py-1.5 w-full text-sm select-none border rounded',
  iconPrimary: 'inline-flex justify-center items-center gap-2 px-9 py-1.5 w-full text-sm select-none border-2 rounded',
  link: 'inline-flex justify-center items-center px-4 py-1.5 text-sm select-none rounded',
  iconLink: 'inline-flex justify-center items-center gap-2 px-2 py-1.5 text-sm select-none rounded'
}
---

<button
  class={classes[variant] + ' ' + extraClasses}
  type="button"
  disabled={disabled}
  title={title}
  x-on:click={onClick}
>
  <slot />
</button>
